---
- name: Set up compose and ssh user
  hosts: all
  remote_user: root
  become: yes

  vars:
    jenkins_username: "jenkins"
    public_key_path: "~/.ssh/jenkins_user.pub"
  
  tasks:
  - name: Upgrade packages
    apt:
      upgrade: yes
      
  - name: Install docker
    ansible.builtin.include_role:
      name: geerlingguy.docker
    vars:
      docker_users:
      - jenkins
      docker_install_compose_plugin: true
      docker_install_compose: false

  - name: Add jenkins user
    ansible.builtin.user:
      name: "{{ jenkins_username }}"
      create_home: yes
      shell: /bin/bash
    
  - name: Add ssh key
    ansible.posix.authorized_key:
      user: "{{ jenkins_username }}"
      key: "{{ lookup('file', '{{ public_key_path }}') }}"

  - name: Upload .env
    ansible.builtin.copy:
      src: ../../.env
      dest: /home/jenkins/.env

  - name: Update dev IP address
    ansible.builtin.lineinfile:
      path: /home/jenkins/.env
      regexp: '^API_HOST='
      line: "API_HOST={{ lookup('ansible.builtin.env', 'DEV_HOST') }}"
    delegate_to: dev

  - name: Update prod IP address
    ansible.builtin.lineinfile:
      path: /home/jenkins/.env
      regexp: '^API_HOST='
      line: "API_HOST={{ lookup('ansible.builtin.env', 'PROD_HOST') }}"
    delegate_to: prod

  - name: Download compose file
    ansible.builtin.get_url:
      url: https://raw.githubusercontent.com/anrayliu/url-shortener/refs/heads/main/compose.yaml
      dest: /home/jenkins/compose.yaml
