---
name: build-and-push

on:
  workflow_call:
    inputs:
      image:
        required: true
        type: string
    secrets:
      DOCKERHUB_TOKEN:
        required: true

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: anrayliu
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build image ${{ inputs.image }}
        run: |
          # garbage value so compose doesn't complain about missing port
          # using export so linter doesn't complain about unused variables
          export API_PORT=1
          export WEB_PORT=1
          export DB_PORT=1

          docker compose build ${{ inputs.image }}

      - name: Push image ${{ inputs.image }}
        run: |
          docker image tag url-shortener-${{ inputs.image }}:latest \
          anrayliu/url-shortener-${{ inputs.image }}:${{ github.sha }}
          docker image tag url-shortener-${{ inputs.image }}:latest \
          anrayliu/url-shortener-${{ inputs.image }}:latest

          docker push anrayliu/url-shortener-${{ inputs.image }}:${{ github.sha }}
          docker push anrayliu/url-shortener-${{ inputs.image }}:latest