---
name: cicd

on: push

jobs:
  changes:
    runs-on: ubuntu-latest
    outputs:
      src: ${{ steps.filter.outputs.src }}
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.ref }}

      - name: Check if code changed
        uses: dorny/paths-filter@v3
        id: filter
        with:
          filters: |
            src:
              - "*.py"
              - "*.html"
              - "Dockerfile.*"
              - ".github/workflows/**"
          base: ${{ github.event.before || 'HEAD^1' }}

  lint:
    runs-on: ubuntu-latest
    needs: changes
    if: ${{ needs.changes.outputs.src == 'true' }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Lint codebase
        uses: super-linter/super-linter@v7
        env:
          VALIDATE_ALL_CODEBASE: false
          VALIDATE_DOCKERFILE_HADOLINT: true
          VALIDATE_GITHUB_ACTIONS: true
          VALIDATE_PYTHON: true
          VALIDATE_HTML: true
          VALIDATE_CSS: true
          VALIDATE_GITLEAKS: true
          VALIDATE_YAML: true
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  trivy-scan:
    uses: ./.github/workflows/trivy_scan.yaml
    with:
      verticals: '["url-shortener-frontend", "url-shortener-backend"]'

  run-tests:
    runs-on: ubuntu-latest
    needs: changes
    if: ${{ needs.changes.outputs.src == 'true' }}
    steps:
      - name: Placeholder test, currently only running status tests
        run: echo "tests passed"

  build-and-push:
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'
    needs: run-tests
    steps:
      - uses: actions/checkout@v5

      - name: Set up Docker Compose
        uses: docker/setup-compose-action@v1

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: anrayliu
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build images
        run: |
          # garbage value so compose doesn't complain about missing port
          # using export so linter doesn't complain about unused variables
          export API_PORT=1
          export WEB_PORT=1

          docker compose build

      - name: Push images
        run: |
          docker image tag url-shortener-backend:latest \
            anrayliu/url-shortener-backend:${{ github.sha }}
          
          docker image tag url-shortener-frontend:latest \
            anrayliu/url-shortener-frontend:${{ github.sha }}

          docker push anrayliu/url-shortener-backend:${{ github.sha }}
          docker push anrayliu/url-shortener-frontend:${{ github.sha }}