---
name: cicd

on: 
  push:
  pull_request:

jobs:
  changes:
    runs-on: ubuntu-latest
    outputs:
      frontend: ${{ steps.filter.outputs.frontend }}
      backend: ${{ steps.filter.outputs.backend }}
      database: ${{ steps.filter.outputs.database }}
      cicd: ${{ steps.filter.outputs.cicd }}
      infrastructure: ${{ steps.filter.outputs.infrastructure }}
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.ref }}

      - name: Check if code changed
        uses: dorny/paths-filter@v3
        id: filter
        with:
          filters: |
            frontend:
              - "frontend/**"
            backend:
              - "backend/*"
            database:
              - "backend/database/**"
            cicd:
              - ".github/workflows/**"
            infrastructure:
              - "infrastructure/**"  
          base: ${{ github.event.before }}

  lint:
    runs-on: ubuntu-latest
    needs: changes
    if: |
      needs.changes.outputs.frontend == 'true' ||
      needs.changes.outputs.backend == 'true' ||
      needs.changes.outputs.database == 'true' ||
      needs.changes.outputs.cicd == 'true' ||
      needs.changes.outputs.infrastructure == 'true'
    steps:
      - uses: actions/checkout@v4

      - name: Lint codebase
        uses: super-linter/super-linter@v7
        env:
          VALIDATE_DOCKERFILE_HADOLINT: true
          VALIDATE_GITHUB_ACTIONS: true
          VALIDATE_PYTHON: true
          VALIDATE_HTML: true
          VALIDATE_CSS: true
          VALIDATE_GITLEAKS: true
          VALIDATE_YAML: true
          VALIDATE_ANSIBLE: true
          VALIDATE_TERRAFORM_FMT: true
          VALIDATE_TERRAFORM_TFLINT: true
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  run-tests:
    runs-on: ubuntu-latest
    needs: changes
    if: needs.changes.outputs.backend == 'true'
    steps:
      - uses: actions/checkout@v4

      - name: Install dependency and run tests
        id: unit-tests
        run: python3 -m venv .venv \
             && source .venv/bin/activate \
             && pip install -r requirements.txt \
             && cd backend && python3 -m unittest discover

  build-and-push-frontend:
    needs: changes
    if: needs.changes.outputs.frontend == 'true'
    uses: ./.github/workflows/build-push.yaml
    with:
      image: "frontend"
    secrets:
      DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}

  build-and-push-backend:
    needs: run-tests
    uses: ./.github/workflows/build-push.yaml
    with:
      image: "backend"
    secrets:
      DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}

  build-and-push-database:
    needs: changes
    if: needs.changes.outputs.database == 'true'
    uses: ./.github/workflows/build-push.yaml
    with:
      image: "database"
    secrets:
      DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}

  scan-frontend:
    needs: build-and-push-frontend
    uses: ./.github/workflows/image_scan.yaml
    with:
      verticals: '["url-shortener-frontend"]'

  scan-backend:
    needs: build-and-push-backend
    uses: ./.github/workflows/image_scan.yaml
    with:
      verticals: '["url-shortener-backend"]'

  scan-database:
    needs: build-and-push-database
    uses: ./.github/workflows/image_scan.yaml
    with:
      verticals: '["url-shortener-database"]'